@{
    ViewBag.Title = "How to Contact Tuffab";
}
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>

<address>
    3 Kimmdonn Street<br />
    Withcott QLD 4352<br />
    <abbr title="Phone">P:</abbr>
    xxxxxxxxxx
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:chris-450@hotmail.com">chris-450@hotmail.com</a><br />
    
</address>