body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


div{
    background-color : #FFFFFF

}


.jumbotron{
    background-color : rgba(232, 220, 220, 0.39)
}

img
{
     border-radius: 12px;
}


   
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 640px;
      height: 480px;
      margin: auto;
  }
  