body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+13,ffffff+85 */
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 13%, rgba(255,255,255,1) 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 13%,rgba(255,255,255,1) 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 13%,rgba(255,255,255,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


div{
    background-color : #FFFFFF

}


.jumbotron{
    background-color : rgba(232, 220, 220, 0.39)
}

img
{
     border-radius: 12px;
}


   
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 640px;
      height: 480px;
      margin: auto;
  }
  